/*подключение шрифтов*/
@font-face {   
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {  
font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

html {
    font-family: Montserrat;
}
:root{
    --font-block:14px;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: transparent;
    z-index: 10;
}

.nav-btns .mx-2:hover{
    border-bottom: 4px solid f14d34;
    padding-bottom: 4px;
}

.nav-btns ul{
    list-style: none;
}

.container{
    flex-direction:column;
}


