/*подключение шрифтов*/
@font-face {   
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {  
font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

html {
    font-family: Montserrat;
}
:root{
    --font-block:14px;
}

