/*подключение шрифтов*/
@font-face {   
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {  
font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

html {
    font-family: Montserrat;
}
:root{
    --font-block:14px;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: transparent;
    z-index: 10;
}

.nav-btns .mx-2:hover{
    border-bottom: 4px solid f14d34;
    padding-bottom: 4px;
}

.nav-btns ul{
    list-style: none;
}

.container{
    flex-direction:column;
}
.navbar {
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    top:auto;
    padding-bottom:0;
    padding-top:10px;
  }
  
  .navbar .nav-btns {
    display: none;
  }
  
  .nav-list{
    margin-left:-60px;
  }

  .fa-bars{
    font-size:200%;
    margin-right:10px;
    margin-bottom:20px;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .navbar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
  }

  .nav-1{
    margin-top: auto;
    order:2;
  }

.nav-logo a img{
    height: 2rem;   
}

.nav-btns{
    order:1;
}

.nav-btns a:hover {
    color:#f14d34;
}

.menu-links {
    min-width: 160px;
    position:relative;
    cursor: pointer;
  }
  
.menu-links a {
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    color:white;
}

.menu:hover .menu-links {
    display: block;
}


